body {
    display: flex;
    justify-content: center;
    align-content: center;

    gap: 15px;
    grid-auto-flow: column;
    
}
select {
    margin-left: 15px;
    margin-top: 5px;
}

button {
    width: 90px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
}

h2 {
    font-size: 18px;;
    margin-left: 10px;
}

p {
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
}
#selectedLaptop p {
    line-height: 2;
}

label {
    font-size: 15px;
}

img {
    height:150px;
    width: 150px;
}

.column {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.rowLaptop{
    display:flex;
    flex-direction: row;
    max-height: 150px;
}

#bankCard {
    height:170px;
    width: 200px;
    border-radius: 12px;
    border: 2px solid black;
}

#loanBtn {
    background-color: #24E865;
}
#payLoanBtn {
    background-color: #F24242;
}

#workCard {
    height: 170px;
    width: 200px;
    border-radius: 12px;
    border: 2px solid black;
}

#bankBtn {
    background-color: yellow;
}

#workBtn {
    color: white;
    background-color: blue;
}

#laptopCard {
    height: 250px;
    width: 200px;
    border-radius: 12px;
    border: 2px solid black;
}


